name: Autograding

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  autograding:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: education/autograding@v1
